@media screen and (min-width:0) and (max-width:1279px) {
    .wrap{
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
    }
    .rel-pos{
        position: relative;
        height: 771px;
    }
    .rel-pos2{
        position: relative;
    }
    .logo .logo-box a{
        margin-right: 10px;
    }
    .logo {
        margin-right: 15px;
    }
    .contact-mail-box p {
        padding: 0px 13px 0 15px;
    }
    .contact-tel-box div {
        margin-left: 24px;
    }
    .contact-tel-box p {
        font-size: 11px;
    }
    .contact-tel-box p span {
        font-size: 12px;
    }
    .contact-tel-box div h2 + p {
        margin-right: 4px;
    }
    .contact-tel-box h2 {
        font-size: 14px;
    }
    .contact-tel-box{
        width: 345px;
    }


    .subNavBtn {
        margin: 0 5px;
    }


    .section1 video {
        margin-top: -86px;
    }

    .fixed-menu {
        padding: 0 3%;
        width: 94% !important;
        min-width: 960px !important;
        max-width: 1280px !important;
    }

    .section2-header {
        padding-left: 60px;
    }


    .workers6 {
        left: 590px;
    }
    .workers5 {
        left: 382px;
    }
    .workers4 {
        left: 100px;
    }
    .workers3 {
        left: 147px;
    }
    .workers2 {
        left: 382px;
    }
    .workers1 {
        left: 53px;
    }


    .section3-text {
        width: 559px;
    }
    .section3-laptop {
        left: 36px;
    }


    .section3-table {
        width: 920px;
        margin: 0 auto 44px;
    }
    .section3-table1 p {
        margin-right: 6px;
    }
    .section3-table th, .section3-table td {
        font-size: 14px;
    }



    .section4 {
        background-size: 100%;
    }

    .x-axis {
        left: 40px !important;
    }
    .y-axis {
        left: 45px !important;
        bottom: -4px !important;
    }
    .tg {
        width: 795px !important;
        margin-left: 100px !important;
    }

    .cel-1{
        left: 0 !important;
    }
    .cel-2{
        left: 32px !important;
    }
    .cel-3{
        left: 64px !important;
    }
    .cel-4{
        left: 98px !important;
    }
    .cel-5{
        left: 130px !important;
    }
    .cel-6{
        left: 162px !important;
    }
    .cel-7{
        left: 195px !important;
    }
    .cel-8{
        left: 228px !important;
    }
    .cel-9{
        left: 261px !important;
    }
    .cel-10{
        left: 293px !important;
    }
    .cel-11{
        left: 326px !important;
    }
    .cel-12{
        left: 358px !important;
    }
    .cel-13{
        left: 391px !important;
    }
    .cel-14{
        left: 424px !important;
    }
    .cel-15{
        left: 457px !important;
    }
    .cel-16{
        left: 490px !important;
    }
    .cel-17{
        left: 521px !important;
    }
    .cel-18{
        left: 554px !important;
    }
    .cel-19{
        left: 587px !important;
    }
    .cel-20{
        left: 620px !important;
    }
    .cel-21{
        left: 653px !important;
    }
    .cel-22{
        left: 685px !important;
    }
    .cel-23{
        left: 717px !important;
    }
    .cel-24{
        left: 750px !important;
    }

    .y-axis li:nth-child(1){
        left: 18px !important;
    }
    .y-axis li:nth-child(2){
        left: -15px !important;
    }
    .y-axis li:nth-child(3){
        left: 39px !important;
    }
    .y-axis li:nth-child(4){
        left: 16px !important;
    }
    .y-axis li:nth-child(5){
        left: 139px !important;
    }
    .y-axis li:nth-child(6){
        left: 74px !important;
    }
    .y-axis li:nth-child(7){
        left: 119px !important;
    }
    .y-axis li:nth-child(8){
        left: 170px !important;
    }
    .y-axis li:nth-child(9){
        left: 266px !important;
    }
    .y-axis li:nth-child(10){
        left: 223px !important;
    }
    .y-axis li:nth-child(11){
        left: 230px !important;
    }
    .y-axis li:nth-child(12){
        left: 302px !important;
    }
    .y-axis li:nth-child(13){
        left: 361px !important;
    }
    .y-axis li:nth-child(14){
        left: 400px !important;
    }
    .y-axis li:nth-child(15){
        left: 425px !important;
    }
    .y-axis li:nth-child(16){
        left: 444px !important;
    }
    .y-axis li:nth-child(17){
        left: 539px !important;
    }
    .y-axis li:nth-child(18){
        left: 560px !important;
    }
    .y-axis li:nth-child(19){
        left: 517px !important;
    }
    .y-axis li:nth-child(20){
        left: 532px !important;
    }
    .y-axis li:nth-child(21){
        left: 613px !important;
    }
    .y-axis li:nth-child(22){
        left: 623px !important;
    }
    .y-axis li:nth-child(23){
        left: 662px !important;
    }
    .y-axis li:nth-child(24){
        left: 710px !important;
    }


    .section6-header > h2 {
        font-size: 47px;
        margin: 101px 0 0 20px;
    }
    .section6-mail-box {
        margin: 115px 0 0 45px;
    }
    .section6-form input[type="text"] {
        width: 320px;
    }



    .box-220x280 {
        width: 200px;
    }
    .box-220x280 > div{
        width: 200px;
    }
    .box-220x130 {
        width: 200px;
    }
    .box-220x130 > div{
        width: 200px;
    }
    .box-460x280 {
        width: 300px;
    }
    .box-460x280 > div{
        width: 300px;
    }
    .portfolio-box {
        width: 660px;
    }
    .portfolio-box2 {
        width: 440px;
    }
    .portfolio-box3 {
        width: 420px;
    }
    .portfolio-box4 {
        width: 200px;
    }
    .portfolio-box5 {
        width: 540px;
    }



    .section7-box ul li .order-btn {
        width: 150px;
    }
    .section7-box {
        width: 164px;
    }
    .section7-box1 {
        left: 420px;
    }
    .section7-box2 {
        left: 600px;
    }
    .section7-box3 {
        left: 780px;
    }
    .section7-action {
        left: 77px;
    }

    .footer-content-box1 p {
        margin: 29px 0 0 10px;
    }
    .footer-content-box2 {
        margin: 36px 0 0 20px;
    }
    .footer-content-box3 {
        margin: 40px 0 0 20px;
    }

    .finger-box {
        left: 390px;
    }
    .section5 {
        margin-bottom: 0;
    }
}
