.british-school, .phoneModalDialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10000;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    opacity: 0;
    pointer-events: none;
}
.british-school{
    background: none!important;
}
.british-school:target, .phoneModalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.british-school > div, .phoneModalDialog > div{
    width: 375px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -211px 0 0 -221px;
    padding: 26px 40px 10px 40px;
    background: #fff;
    border: 2px solid #003cff;
}
.british-school > div{
    width: 802px;
    height: 260px;
    padding: 30px;
    margin: -160px 0 0 -431px;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.british-school > div .close{
    font-size: 14px;
    top: 9px;
    width: 62px;
    height: 21px;
    color: #898989 !important;
    right: 20px;
    background: none;
    border: none;
    border-bottom: 1px dashed #898989;
}
.british-school > div .close:hover{
    border: none;
}
.close-all{
    width: 100%;
    height: 100%;
    display: block;
}
.close {
    color: #003cff;
    position: absolute;
    right: -48px;
    background-color: #fff;
    text-align: center;
    top: -1px;
    width: 29px;
    border: 2px solid #003cff;
    height: 29px;
    text-decoration: none;
    font-size: 25px;
    line-height: 30px;
}
.close:hover {
    color: #fff;
    background-color: #003cff;
}
.modalDialog-form h2{
    color: #000000;
    text-align: left;
    font-size: 30px;
    font-family: "GothamProBold", sans-serif;
    margin-bottom: 15px;
}
.modalDialog-form > p, .modalDialog-form > h3{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 21px;
    color: #898989;
    letter-spacing: 0.03em;
}
.modalDialog-form > h3{
    text-align: center;
}
.modalDialog-form p > span{
    color: #898989;
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
}
.modalDialog-form form input[type='text'], .phoneModalDialog form input[type='text']{
    margin-bottom: 13px;
}
.modalDialog-form form textarea{
    height: 110px !important;
    padding-top: 10px !important;
}
.modalDialog-form form input[type='text'], .form-input-text, .modalDialog-form form textarea, .modalDialog-form form input[type='submit'], .phoneModalDialog form input[type='text'], .phoneModalDialog form input[type='submit']{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 13px;
    padding: 0 10px;
    height: 37px;
    border: 2px solid #003cff;
    color: #000000;
    font-size: 20px;
}
.modalDialog-form form input[type='submit'], .phoneModalDialog form input[type='submit']{
    background-color: #003cff;
    color: white;
    cursor: pointer;
    width: 373px;
    margin: 6px auto 12px;
    text-transform: uppercase;
    height: 50px;
    font-size: 15px;
    font-family: "GothamProMedium", sans-serif;
}
.british-school img{
    float: left;
    margin-right: 22px;
}
.british-school h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}
.british-school p{
    color: #898989;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 13px;
}
