.subMenu {
	z-index: 1000;
    background-color: #003cff;
}
.subMenu-inner{
    max-width: 1190px !important;
    min-width: 960px !important;
    margin: 0 auto;
    overflow: hidden;
}
.subNavBtn {
    margin: 0 11px;
    float: left;
    display: block;
    color: white;
    font-size: 12px;
    padding: 16px 6px 13px;
    text-decoration: none;
    text-transform: uppercase;
}
.subNavBtn:hover {
    color: #fff200;
    border-bottom: 3px solid #fff200;
    padding: 16px 6px 11px;
}
.subNavBtn-rt{
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin-right: 0;
    background-color: #fff200;
    color: #000000;
    padding: 14px 32px;
    border: none;
    font-family: "GothamProMedium", sans-serif;
}
.subNavBtn-rt:hover{
    background: #ffea00;
}
.active {
	background: #25aae1;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	min-height: 130px;
	background:#fff;
	color:#3d3d3d;
	padding: 50px 0;
	height: 300px;
	
}

.s1 {
	background:#184764;
	color:#fff;
	
}


.s2 {
	background: #313131;
}
.s2 a {
	color: #fff;
}

.s3 {
	background: #1b83b3;
}


.s4 {
	background: #5aa3c4;
}



.s5 {
	background: #bce1f1;
	color: #3d3d3d;
}

.s6 {
	background: #161616;
}





