@import url(reset.css);
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.eot");
    src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}
body{
    overflow-x: hidden;
    max-width: 1280px;
    margin: 0 auto;
    min-width: 960px;
    font-family: "GothamProRegular", sans-serif;
    font-size: 14px;
}
.wrap{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.cd-secondary-nav {
    z-index: 1000;
    background-color: #003cff;
}
.cd-secondary-nav nav{
    min-width: 960px !important;
    margin: 0 auto;
    overflow: hidden;
}
.subNavBtn {
    margin: 0 11px;
    float: left;
    display: block;
    color: white;
    font-size: 12px;
    padding: 16px 6px 13px;
    text-decoration: none;
    text-transform: uppercase;
}
.subNavBtn:hover {
    color: #fff200;
    border-bottom: 3px solid #fff200;
    padding: 16px 6px 11px;
}
.subNavBtn-rt{
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    margin-right: 20px;
    background-color: #fff200;
    color: #000000;
    padding: 14px 32px;
    border: none;
    font-family: "GothamProMedium", sans-serif;
}
.subNavBtn-rt:hover{
    background: #ffea00;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.header{
    background: url("../images/header-bg.png")no-repeat 130px -1px;
    height: 87px;
    padding-top: 30px;
    overflow: hidden;
}
.logo{
    float: left;
    margin-right: 51px;
}
.logo .logo-box{
    float: left;
}
.logo .logo-box a, .footer-head .logo-box a{
    margin-left: 4px;
    margin-right: 25px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    width: 124px;
    height: 42px;
    border: 2px solid #000000;
    color: #003cff;
    font-family: "GothamProBold", sans-serif;
    font-size: 19px;
    text-align: center;
    padding: 6px 10px;
    letter-spacing: 0.23em;
}
.logo .logo-box a b{
    letter-spacing: 0.49em;
    line-height: 25px;
}
.logo .logo-text-box{
    float: left;
    line-height: 19px;
}
.contact-mail-box{
    float: left;
    line-height: 19px;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
.contact-mail-box p{
    padding: 0 61px 0 55px;
}
.contact-mail-box a{
    color: #003cff;
    text-decoration: none;
    border-bottom: 1px dashed #003cff;
}
.contact-mail-box a:hover{
    border: none;
}
.contact-tel-box{
    float: left;
}
.contact-tel-box h2{
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.contact-tel-box div{
    margin-left: 46px;
}
.contact-tel-box h2 a{
    color: #003cff;
}
.contact-tel-box h2 a{
    color: #003cff;
    text-decoration: none;
    border-bottom: 1px dashed #003cff;
}
.contact-tel-box h2 a:hover{
    border: none;
}
.contact-tel-box p span{
    font-family: "GothamProMedium", sans-serif;
    color: #003cff;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
}
.contact-tel-box p{
    font-size: 12px;
    float: left;
}
.contact-tel-box div h2 + p{
    margin-right: 23px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.nav{
    background-color: #003cff;
}
.nav ul{
    overflow: hidden;
}
.nav ul li{
    float: left;
    margin-right: 25px;
}
.nav ul li:last-child{
    float: right;
    margin-right: 0;
    background-color: #fff200;
}
.nav ul li:last-child:hover{
    background: #ffea00;
}
.nav ul li:last-child a{
    color: #000000 !important;
    padding: 14px 40px !important;
    border: none !important;
    font-family: "GothamProMedium", sans-serif;
}
.nav ul li a{
    display: block;
    color: white;
    font-size: 12px;
    padding: 14px 6px;
    text-decoration: none;
    text-transform: uppercase;
}
.nav ul li a:hover{
    color: #fff200;
    border-bottom: 3px solid #fff200;
    padding: 14px 6px 11px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.section1{
    height: 574px;
    overflow: hidden;
    position: relative;
}
.section1 video{
    width: 100%;
    height: 711px;
}
.scrolldown{
    position: absolute;
    left: 529px;
    bottom: 135px;
    background: url("../images/scrolldown.png")no-repeat 0 0;
    width: 85px;
    height: 90px;
}
.about-section {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin-right: 78px;
    margin-top: 48px;
    background-color: white;
    width: 445px;
    padding: 34px 30px;
}
.about-section h2{
    line-height: 47px;
    font-size: 42px;
    margin-bottom: 40px;
    font-family: "GothamProBold", sans-serif;
}
.about-section h2 a{
    color: #003cff;
    text-decoration: none;
    border-bottom: 2px dashed #003cff;
}
.about-section h2 a:hover{
    border: none;
}
.about-section p{
    font-size: 20px;
    margin-bottom: 40px;
}
.about-section > a{
    background-color: #003cff;
    display: block;
    width: 100%;
    padding: 17px 0;
    text-align: center;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.about-section > a:hover{
    background-color: #0000ff;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.section2{
    background: url("../images/section2-bg.png")no-repeat 126px 24px;
    padding-top: 106px;
}
.section2-header{
    padding-left: 181px;
    overflow: hidden;
    z-index: 1;
}
.section2-header > h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 42px;
    float: left;
    margin-right: 100px;
    line-height: 47px;
}
.section2-header h2 > a{
    color: #003cff;
    text-decoration: none;
    border-bottom: 2px dashed #003cff;
}
.section2-header h2 > a:hover{
    border: none;
}
.section2-doc-box{
    float: left;
    width: 280px;
}
.section2-doc-box img{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.section2-doc-box p{
    font-size: 24px;
    font-family: "GothamProBold", sans-serif;
    margin-bottom: 21px;
}
.zoom-btn a{
    text-decoration: none;
    border-bottom: 2px dashed #898989;
    color: #898989;
    line-height: 21px;
}
.section2-doc-box a:hover{
    border: none;
}
.zoom-btn{
    margin: 9px auto 0;
    width: 85px;
    height: 24px;
    padding-left: 30px;
    background: url("../images/section2-zoom.png")no-repeat left center;
}
.section2-workers{
    position: relative;
    height: 278px;
}
.workers{
    width: 350px;
    height: 210px;
}
.workers a{
    color: #003cff;
    text-decoration: none;
    border-bottom: 1px dashed #003cff;
}
.workers a:hover{
    border: none;
}
.workers img{
    float: left;
    margin-right: 13px;
}
.workers h2{
    padding-top: 13px;
    font-size: 18px;
}
.workers h3{
    margin-top: 8px;
    font-size: 14px;
    color: #003cff;
}
.workers p{
    line-height: 14px;
    margin-top: 7px;
    font-size: 12px;
    color: #898989;
    width: 240px;
    float: right;
}
.workers p a{
    color: #003cff;
}
.workers1{
    position: absolute;
    top: -100px;
    left: 122px;
}
.workers2{
    position: absolute;
    top: -55px;
    left: 450px;
}
.workers3{
    position: absolute;
    top: 12px;
    left: 233px;
}
.workers4{
    position: absolute;
    top: 126px;
    left: 153px;
}
.workers5{
    position: absolute;
    top: 76px;
    left: 505px;
}
.workers6{
    position: absolute;
    top: 36px;
    left: 748px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.section3{
    background: url("../images/section3-bg.png")repeat-x 0 18px;
    padding-top: 40px;
    position: relative;
}
.section3-text{
    z-index: 11;
    position: relative;
    float: right;
    width: 705px;
    margin-top: 55px;
    margin-bottom: 72px;
}
.section3-text h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 42px;
    line-height: 47px;

}
.section3-text p{
    color: #898989;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 23px;
}
.section3-text a{
    margin-top: 20px;
    margin-right: 57px;
    background-color: #003cff;
    display: block;
    width: 360px;
    float: right;
    padding: 17px 0;
    text-align: center;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}
.section3-text a:hover{
    background-color: #0000ff;
}
.section3-laptop{
    position: absolute;
    left: 156px;
    top: 3px;
    background: url("../images/section3-laptop.png")no-repeat 0px 0px;
    width: 542px;
    height: 318px;
    z-index: 1;
}
.section3-table{
    width: 1146px;
    margin-bottom: 44px;
}
.section3-table a{
    color: #003cff;
    text-decoration: none;
    border-bottom: 1px dashed #003cff;
}
.section3-table a:hover{
    border: none;
}
.section3-table tr{
    border: 1px solid #e1e1e1;
    font-size: 16px;
    border-left: none !important;
}
.section3-table tr td:first-child, .section3-table tr th:first-child{
    border-left: none !important;
}
.section3-table th, .section3-table td{
    border: 1px dashed #e1e1e1;
    font-size: 16px;
}
.section3-table tr:last-child{
    border: none;
}
.last-section3-table td{
    font-size: 12px;
    line-height: 23px;
    text-align: left !important;
}
.last-section3-table td:first-child{
    text-align: right !important;
    padding-right: 25px !important;
    padding-top: 11px !important;
}
.last-section3-table td{
    border: none;
    text-align: center;
    padding: 0 !important;
}
.section3-table tr th{
    width: 72px;
    padding: 5px 0;
}
.section3-table1{
    width: 973px;
    text-align: left;
    height: 25px;
    line-height: 18px;
    padding: 8px 0 0px 14px !important;
    border-left: none;
}
.section3-table-bg{
    overflow: hidden;
    position: relative;
}
.section3-table-bg span{
    display: block;
    background-color: #003cff;
    height: 12px;
    width: 0;
    position: absolute;
    top: 10px;
}
.section3-table1 p{
    float: left;
    margin-right: 3px;
}
.section3-question{
    background: url("../images/question.png")no-repeat;
    height: 20px;
    width: 20px;
    float: left;
}
.section3-question span{
    z-index: 333;
    display: none;
    position: relative;
    left: 35px;
    top: -40px;
    width: 364px;
    padding: 14px 28px;
    background: #fff;
    border: 2px solid #003cff;
    -webkit-box-shadow: 0 0 5px 0 #000000;
    box-shadow: 0 0 5px 0 #000000;
}
.section3-question:hover span{
    display: block;
}
.section3-question span:after, .section3-question span:before {
    right: 100%;
    top: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.section3-question span:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 8px;
    margin-top: -19px;
}
.section3-question span:before {
    border-color: rgba(0, 60, 255, 0);
    border-right-color: #003cff;
    border-width: 11px;
    margin-top: -22px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.section4{
    height: 542px;
    width: 100%;
    overflow: hidden;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.section5{
    background: url("../images/section5-bg.png")no-repeat 161px 44px;
    position: relative;
    margin-bottom: 183px;
}
.section5-text h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 42px;
    margin: 63px 0 45px 184px;
    line-height: 47px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.section6{
    background: url("../images/section3-bg.png")repeat-x 0 18px;
    position: relative;
    z-index: 1;
    margin-bottom: 34px;
}
.section6-bg{
    position: absolute;
    background: url("../images/section6-bg.png")no-repeat 0 0;
    z-index: -1;
    left: 45px;
    top: 77px;
    width: 230px;
    height: 160px;
}
.section6-header{
    margin-bottom: 46px;
    overflow: hidden;
}
.section6-header > h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 60px;
    line-height: 61px;
    float: left;
    margin: 101px 0 0 75px;
}
.section6-mail-box{
    float: left;
    margin: 115px 0 0 86px;
}
.section6-mail-box h2{
    font-size: 24px;
    margin-bottom: 12px;
}
.section6-mail-box-p{
    display: block;
    color: #898989;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 11px;
}
.section6-form input[type="text"]{
    width: 410px;
    border: 2px solid #000;
    padding: 0 12px;
    font-size: 24px;
    height: 43px;
    letter-spacing: 0.05em;
}
.section6-form input[type="submit"]{
    letter-spacing: -1px;
    width: 200px;
    border: none;
    height: 46px;
    font-family: "GothamProMedium", sans-serif;
    margin-left: 15px;
    font-size: 18px;
    background-color: #003cff;
    color: #ffffff;
    cursor: pointer;
}
.section6-form input[type="submit"]:hover{
    background-color: #0000ff;
}
.portfolio-box{
    width: 720px;
    float: left;
}
.portfolio-box2{
    float: left;
    width: 480px;
}
.portfolio-box3{
    float: left;
    width: 460px;
}
.portfolio-box4{
    width: 220px;
    float: left;
}
.section6-portfolio > div{
    overflow: hidden;
    margin-bottom: 20px;
}
.no-mt{
    margin-top: 0!important;
}
.no-ml{
    margin-left: 0!important;
}
.add-ml{
    margin-left: 20px !important;
}
.box-220x280{
    position: relative;
    width: 220px;
    height: 280px;
    float: left;
    position: relative;
}
.box-220x280 > div{
    position: absolute;
    z-index: 2;
    display: none;
    width: 220px;
    height: 280px;
}
.box-220x280:hover > div{
    display: block;
}
.box-220x130{
    position: relative;
    width: 220px;
    height: 130px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.box-220x130 > div{
    position: absolute;
    z-index: 2;
    display: none;
    width: 220px;
    height: 130px;
}
.box-220x130:hover > div{
    display: block;
}
.box-460x280{
    position: relative;
    width: 460px;
    height: 280px;
    float: left;
}
.box-460x280 > div{
    position: absolute;
    z-index: 2;
    display: none;
    width: 460px;
    height: 280px;
}
.box-460x280:hover > div{
    display: block;
}
.box-text{
    text-align: center;
}
.box-220x280 .box-text a{
    background: #fff;
    -webkit-box-shadow:inset 0 0 0 10px #252654;
    box-shadow:inset 0 0 0 10px #252654;
    height: 280px;
    width: 220px;
    display: block;
    position: absolute;
    top: -282px;
}
.box-220x130 .box-text a{
    background: #fff;
    -webkit-box-shadow:inset 0 0 0 10px #252654;
    box-shadow:inset 0 0 0 10px #252654;
    height: 130px;
    width: 220px;
    display: block;
    position: absolute;
    top: -132px;
}
.box-460x280 .box-text a{
    background: #fff;
    -webkit-box-shadow:inset 0 0 0 10px #252654;
    box-shadow:inset 0 0 0 10px #252654;
    height: 280px;
    width: 460px;
    display: block;
    position: absolute;
    top: -282px;
}
.box-220x280 .box-line{
    width: 31px;
    height: 7px;
    margin: 0 auto;
    border: none;
    background: #fff200;
    top: -165px;
    position: relative;
}
.box-220x280 .box-text h2{
    font-family: "GothamProBold", sans-serif;
    color: #003cff;
    font-size: 18px;
    position: relative;
    top: -175px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 180px;
}
.box-220x280 .box-text p{
    color: #898989;
    line-height: 16px;
    font-size: 14px;
    position: relative;
    top: -160px;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.box-220x130 .box-line{
    width: 31px;
    height: 7px;
    margin: 0 auto;
    border: none;
    background: #fff200;
    top: -130px;
    position: relative;
}
.box-220x130 .box-text h2{
    font-family: "GothamProBold", sans-serif;
    color: #003cff;
    font-size: 18px;
    position: relative;
    top: -135px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 180px;
}
.box-220x130 .box-text p{
    color: #898989;
    line-height: 16px;
    font-size: 14px;
    position: relative;
    top: -130px;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.box-460x280 .box-line{
    width: 31px;
    height: 7px;
    margin: 0 auto;
    border: none;
    background: #fff200;
    top: -270px;
    position: relative;
}
.box-460x280 .box-text h2{
    font-family: "GothamProBold", sans-serif;
    color: #003cff;
    font-size: 18px;
    position: relative;
    top: -280px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 180px;
}
.box-460x280 .box-text p{
    color: #898989;
    line-height: 16px;
    font-size: 14px;
    position: relative;
    top: -260px;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.box-220x130 .box-text h2{
    margin-top: 24px;
    margin-bottom: 8px;
}
.box-220x130 .box-text p{
    margin-top: 7px;
}
.box-460x280 .box-text h2{
    margin-top: 90px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.section7{
    background: url("../images/section3-bg.png")repeat-x 0 18px;
    position: relative;
    z-index: 1;
    margin-bottom: 52px;
}
.section7-bg{
    position: absolute;
    background: url("../images/section7-bg.png")no-repeat 0 0;
    z-index: -1;
    left: 84px;
    top: 60px;
    width: 197px;
    height: 196px;
}
.section7-bg2{
    position: absolute;
    background: url("../images/section7-bg2.png")no-repeat 0 0;
    z-index: -1;
    top: 830px;
    left: 228px;
    width: 193px;
    height: 256px;
}
.section7 .wrap > h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 60px;
    line-height: 61px;
    margin: 96px 0 122px 68px;
}
.section7 .section3-table{
    width: 1186px;
}
.section7 .section3-table1{
    padding: 8px 0 0px 5px !important;
}
.section7 .section3-table th, .section7 .section3-table td{
    border: none;
}
.section7 .section3-table tr{
    border: 1px solid #e1e1e1 !important;
}
.section7-box{
    width: 216px;
    height: 540px;
    border: 2px solid #000000;
    text-align: center;
}
.section7-box > h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 30px;
    margin: 17px 0 25px;
}
.section7-box ul li{
    margin: 10px 0;
    height: 24px;
}
.section7-box ul li:last-child{
    margin: 16px 0 0 0;
    height: auto;
}
.section7-box ul li:last-child h3{
    margin-bottom: 8px;
}
.section7-box ul li:last-child h4{
    margin-bottom: 8px;
}
.section7-box ul li p{
    font-size: 16px;
    line-height: 23px;
}
.section7-box ul li h2{
    font-family: "GothamProMedium", sans-serif;
    font-size: 18px;
    color: #003cff;
}
.section7-box ul li h3{
    font-family: "GothamProMedium", sans-serif;
    font-size: 24px;
}
.section7-box ul li h4{
    color: #898989;
    font-size: 14px;
}
.section7-box ul li .order-btn{
    border: none;
    line-height: 47px;
    width: 185px;
    height: 47px;
    background: #003cff;
    color: #ffffff;
    display: block;
    font-family: "GothamProMedium", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 auto 10px;
}
.section7-box ul li .order-btn:hover{
    background-color: #0000ff;
}
.section7-box ul li a{
    font-size: 14px;
    color: #898989;
    text-decoration: none;
    border-bottom: 1px dashed #898989;
}
.section7-box ul li a:hover{
    border: none;
}
.section7-box1{
    position: absolute;
    left: 522px;
    top: 211px;
}
.section7-box2{
    position: absolute;
    left: 762px;
    top: 211px;
}
.section7-box3{
    position: absolute;
    left: 1002px;
    top: 211px;
}
.section7-box2 ul li:last-child h3, .section7-box3 ul li:last-child h3{
    margin-top: 34px;
}

.section7-action{
    display: block;
    text-align: center;
    z-index: 333;
    position: relative;
    left: 139px;
    top: 7px;
    width: 268px;
    padding: 18px 17px;
    background: #fff;
    border: 2px solid #003cff;
}
.section7-action h2{
    font-family: "GothamProBold", sans-serif;
    color: #003cff;
    font-size: 22px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.section7-action p{
    font-size: 16px;
    line-height: 18px;
}
.section7-action:after, .section7-action:before{
    left: 100%;
    top: 36%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.section7-action:after{
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 17px;
    margin-top: -27px;
}
.section7-action:before{
    border-color: rgba(0, 60, 255, 0);
    border-left-color: #003cff;
    border-width: 19px;
    margin-top: -29px;
}

.section7-download a{
    font-size: 30px;
    color: #003cff;
    text-decoration: none;
    border-bottom: 1px dashed #003cff;
}
.section7-download a:hover{
    border: none;
}
.section7-download {
    background: url("../images/download.png")no-repeat 21px 14px;
    display: block;
    text-align: center;
    z-index: 333;
    position: relative;
    left: 376px;
    top: -71px;
    width: 264px;
    padding: 28px 0px 26px 39px;
    border: 2px solid #003cff;
}
.section7-download:after, .section7-download:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.section7-download:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 17px;
    margin-top: -27px;
}
.section7-download:before {
    border-color: rgba(0, 60, 255, 0);
    border-right-color: #003cff;
    border-width: 19px;
    margin-top: -29px;
}
.section7-text{
    width: 618px;
    margin: 122px auto -34px;
}
.section7-text h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 60px;
}
.section7-text p{
    width: 300px;
    font-size: 16px;
    color: #898989;
    line-height: 19px;
    margin: 22px 0 0 41px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.footer{
    background: url("../images/section3-bg.png")repeat-x 0 18px;
}
.footer-head .logo-box a{
    width: 323px;
    margin-top: 83px;
    font-size: 26px;
    height: 26px;
    padding: 9px 10px;
    float: left;
}
.footer-head h2{
    font-family: "GothamProBold", sans-serif;
    font-size: 48px;
    margin: 80px 0 0 111px;
    float: left;
}
.footer-head{
    overflow: hidden;
}
.footer-content{
    overflow: hidden;
    position: relative;
}
.footer-content-box1, .footer-content-box2, .footer-content-box3{
    float: left;
}
.footer-content-box1 p{
    margin: 29px 0 0 64px;
    line-height: 20px;
}

.footer-content-box2{
    margin: 36px 0 0 78px;
}
.footer-content-box2 h2{
    font-size: 30px;
    margin-bottom: 21px;
}
.footer-content-box2 ul li a{
    color: #003cff;
    text-decoration: none;
    border-bottom: 1px dashed #003cff;
}
.footer-content-box2 ul li a:hover{
    border: none;
}
.footer-content-box2 ul li{
    padding-left: 41px;
    line-height: 20px;
    margin-bottom: 20px;
}
.footer-content-box2 ul li:nth-child(1){
    background: url("../images/footer-li1.png")no-repeat 5px center;
}
.footer-content-box2 ul li:nth-child(2){
    background: url("../images/footer-li2.png")no-repeat 5px center;
}
.footer-content-box2 ul li:nth-child(3){
    background: url("../images/footer-li3.png")no-repeat 5px center;
}

.footer-content-box3{
    margin: 40px 0 0 86px;
    width: 421px;
}
.footer-content-box3 form div{
    height: 55px;
}
.footer-content-box3 form div label{
    margin-top: 16px;
    display: inline-block;
    float: right;
    margin-right: 11px;
}
.footer-content-box3 form div input, .footer-content-box3 form div textarea{
    float: right;
    width: 317px;
    border: 2px solid #000000;
    padding: 0 10px;
    font-family: "GothamProRegular", sans-serif;
    font-size: 24px;
}
.footer-content-box3 form div input{
    height: 39px;
    margin-bottom: 12px;
}
.footer-content-box3 form div textarea{
    resize: none;
    height: 89px;
    padding: 10px;
}
.footer-content-box3 form input[type='submit']{
    float: right;
    border: none;
    width: 341px;
    height: 43px;
    margin-top: 19px;
    background: #003cff;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "GothamProMedium", sans-serif;
}
.footer-content-box3 form input[type='submit']:hover{
    background-color: #0000ff;
}
.footer-copy{
    float: left;
    position: relative;
    top: -26px;
    letter-spacing: 0.03em;
    color: #7f8c8d;
}
.footer-copy a{
    color: #7f8c8d;
    text-decoration: none;
    border-bottom: 1px dashed #7f8c8d;
}
.footer-copy a:hover{
    border: none;
}
.finger-box{
    position: absolute;
    left: 567px;
    bottom: -2px;
    background: url("../images/header-bg.png")no-repeat 0px 0px;
    width: 187px;
    height: 271px;
    background-size: 100%;
    z-index: -1;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.fixed-menu {
    background-color: #0000ff;
    position:fixed;
    max-width: 1220px !important;
    min-width: 984px !important;
    padding: 0 22px;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 0;
    z-index:99;
}
#top-line-menu li.active a {
    color:#0012ff;
    background:none;
}
#top-nav li.active a {
    color: #fff200;
    border-bottom: 3px solid #fff200;
    padding: 16px 6px 11px;
}
/*========================================================================================================================*/
/*========================================================================================================================*/
/*========================================================================================================================*/
.grey{
    color: #898989;
}
.padding-b-20{
    padding-bottom: 20px;
}
.margin-b-4{
    display: block;
    margin-bottom: 4px;
}