.tg  {
    border-collapse:collapse;
    border-spacing:0;
    overflow: hidden;
    width: 1025px;
    margin-left: 103px;
}
.tg tr{
    border: 2px solid grey;
    height: 20px;
    border-right: none;
}
.tg td{
    width: 17px;
    height: 46px;
}
.tg tr:last-child td{
    background: #003cff;
    margin: 0px 14px;
}
.x{
    position: relative;
}
.y{
    position: absolute;
    left: 0;
    bottom: 0;
    border: none !important;
}
.x-axis{
    position: absolute;
    left: 92px;
    top: 163px;
}
.x-axis li{
    margin: 36px 0;
    font-size: 12px;
}
.y-axis{
    height: 197px;
    position: absolute;
    bottom: -196px;
    width: 87%;
    left: 92px;
}
.y-axis li{
    width: 240px;
    font-size: 13px;
    letter-spacing: -1px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.up{
    -webkit-animation: move_up 4s linear forwards;
    -moz-animation: move_up 4s linear forwards;
    -o-animation: move_up 4s linear forwards;
    animation: move_up 4s linear forwards;
}
@-webkit-keyframes move_up { from { height: 0; } to { height:500px; }  }
@-moz-keyframes move_up { from { height: 0; } to { height:500px; }  }
@-o-keyframes move_up { from { height: 0; } to { height:500px; }  }
@keyframes move_up { from { height: 0; } to { height:500px; }  }


.right{
    -webkit-animation: move_right 4s linear forwards;
    -moz-animation: move_right 4s linear forwards;
    -o-animation: move_right 4s linear forwards;
    animation: move_right 4s linear forwards;
}
@-webkit-keyframes move_right { from { width: 0; } to { width:100%; }  }
@-moz-keyframes move_right { from { width: 0; } to { width:100%; }  }
@-o-keyframes move_right { from { width: 0; } to { width:100%; }  }
@keyframes move_right { from { width: 0; } to { width:100%; }  }
